@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  html {
    color-scheme: light dark;
  }

  * {
    @apply border-gray-200 dark:border-gray-800;
  }

  html,
  body {
    @apply text-gray-900 bg-gray-50 dark:bg-gray-950 dark:text-gray-200;
  }

  .using-mouse * {
    outline: none !important;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

/* Custom Scrollbar Styles */

/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 10px;
  background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a3a3a3;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db #f5f5f5;
}
